./sources
sources
./sources/*
sources/*

./extracted
extracted
extracted/*
./extracted/*

./rendered
rendered
rendered/*
./rendered/*

./diagrams
diagrams
diagrams/*
./diagrams/*

./masks
masks
masks/*
./masks/*

./blurred
blurred
blurred/*
./blurred/*

./images
images
images/*
./images/*

./mask_renders
mask_renders
mask_renders/*
./mask_renders/*

./split
split
split/*
./split/*